* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background-image: url('images/background.jpg'); /* ảnh nền */
    background-size: cover;
    background-position: center;
    background-attachment: fixed; /* giữ ảnh nền cố định */
    color: rgb(239, 235, 235);
}
body::before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: -1; 
}

header {
    display: flex;
    align-items: center;
    padding: 20px;
    text-align: center;
    margin-bottom: 50px;
}

header img { 
    margin: auto;
    margin-bottom: 100px;
    margin-top: 20px;
    height: 250px;
    
    box-shadow: rgba(0, 0, 0, 0.5);
}

.center-wrapper {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 100px); /* trừ chiều cao header */
}

.center-text {
    background: rgba(0, 0, 0, 0.5);
    padding: 40px;
    border-radius: 12px;
    box-shadow: 0 0 20px rgba(0,0,0,0.6);
    text-align: center;
    max-width: 1000px;
}